<section class="products-index">

  <header class="page-header">
    <h1>About</h1>
  </header>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Welcome to the jungle! <span class="text-muted"> Buckle up, because you're going for a ride!</span></h2>
      <p class="lead">
        Ever heard of the phrase "it's a jungle out there?"<br>
        Well it's true, and it's ready for you to explore!
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="https://blog.sheetgo.com/wp-content/uploads/2018/08/Explore-feature-Featured-Image-2.jpg">
    </div>
  </div>

  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-10">
    <p class="lead">
      The world has so much to offer but you don't need to go out into the wild to see it. 
      Here at Jungle we provide you with the coolest, tackiest, mind-blowingly awesome products out there. 
      From clothes to furniture to gadgets, we've got something for you. 
    </p>
    </div>
  </div>

</section>